*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
**/node_modules

/*.php
wp-admin/

wp-includes/

wp-content/themes/twentysixteen/

wp-content/themes/twentyseventeen/

wp-content/themes/twentyfifteen/

wp-content/plugins/akismet/

wp-content/plugins/index\.php

wp-content/themes/index\.php

wp-content/index\.php

wp-content/themes/mythem/yarn\.lock

wp-content/themes/mythem/package-lock\.json

wp-content/themes/mythem/\.vscode/

wp-content/themes/mythem/assets/css/main.css
wp-content/themes/mythem/woocommerce1/

*.map
*.zip
*.rar
